---
Checks: >

  bugprone-*,

  clang-analyzer-*,

  modernize-*,

  performance-*,

  portability-*,

  readability-*,

  cppcoreguidelines-*,

  misc-*,

  concurrency-*,

  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-owning-memory,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-c-arrays

# Disable problematic and overly pedantic checks
WarningsAsErrors: >
  *,
  -bugprone-exception-escape,
  -misc-include-cleaner,
  -misc-use-internal-linkage,
  -misc-non-private-member-variables-in-classes,
  -performance-avoid-endl,
  -misc-no-recursion,
  -readability-identifier-length,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-avoid-c-arrays,
  -portability-avoid-pragma-once

HeaderFilterRegex: 'src/.*'

FormatStyle: file
UseColor: true

CheckOptions:
  # =====================================================
  # modernize
  # =====================================================

  - key: modernize-loop-convert.MinConfidence
    value: reasonable

  - key: modernize-pass-by-value.IncludeStyle
    value: llvm

  # =====================================================
  # readability
  # =====================================================

  - key: readability-identifier-naming.NamespaceCase
    value: lower_case

  - key: readability-identifier-naming.ClassCase
    value: CamelCase

  - key: readability-identifier-naming.StructCase
    value: CamelCase

  - key: readability-identifier-naming.EnumCase
    value: CamelCase

  - key: readability-identifier-naming.FunctionCase
    value: camelBack

  - key: readability-identifier-naming.MethodCase
    value: camelBack

  - key: readability-identifier-naming.VariableCase
    value: lower_case

  - key: readability-identifier-naming.PrivateMemberSuffix
    value: _

  - key: readability-identifier-naming.ConstantCase
    value: UPPER_CASE

  # =====================================================
  # performance
  # =====================================================

  - key: performance-move-const-arg.CheckTriviallyCopyableMove
    value: true

  # =====================================================
  # cppcoreguidelines
  # =====================================================

  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: true
